/* index.css or globals.css */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #7C5DFA;
  --color-success: #33D69F;
  --color-danger: #EC5757;

  --color-bg-light: #F8F8FB;
  --color-bg-dark: #141625;

  --color-card-light: #FFFFFF;
  --color-card-dark: #1E2139;
  --color-edit-btn: #DFE3FA;
}

@layer base {
  body {
    background-color: var(--color-bg-light);
    color: #1e293b;
  }
  
  .dark body {
    background-color: var(--color-bg-dark);
    color: #e2e8f0;
  }
}